{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>

    <div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url({% static 'images/bg_1.jpg' %});">
        <div class="container">
          <div class="row align-items-end">
            <div class="col-lg-7">
              <h2 class="mb-0">My Quiz</h2>
            </div>
          </div>
        </div>
    </div>
<div class="custom-breadcrumns border-bottom">
    <div class="container">
        <a href="{% url 'index' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Home</a>
        <a href="{% url 'StudentProfile' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Profile</a>
        <a href="{% url 'StudentProfile' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Education</a>
        <a href="{% url 'student_change_email' %}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Email Change</a>
        <a href="{% url 'student_change_password' %}" class="btn btn-warning btn-lg active" role="button" aria-pressed="true">Password Change</a>
        <a href="{% url 'my_course' %}" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">My Course </a>
        <a href="{% url 'quiz_list' %}" class="btn btn-info btn-lg active" role="button" aria-pressed="true">My Quiz </a>
    </div>
</div>
<div class="custom-breadcrumns border-bottom">
    <div class="container">
        <a href="{% url 'quiz_list' %}">Home</a>
         <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">Quiz</span>
    </div>
</div>
  <div class="container">
    {% include 'Student/_header.html' with active='new' %}
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Quiz</th>
          <th>Subject</th>
          <th>Length</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for quiz in quizzes %}
          <tr>
            <td class="align-middle">{{ quiz.name }}</td>
            <td class="align-middle">{{ quiz.subject }}</td>
            <td class="align-middle">{{ quiz.questions_count }} questions</td>
            <td class="text-right">
              <a href="{% url 'take_quiz' quiz.pk %}" class="btn btn-primary">Start quiz</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">No quiz matching your interests right now.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
