{% for teacherEnroll in teacherEnrolls %}
  <tr>
    <td>{{ teacherEnroll.id }}</td>
    <td>{{ teacherEnroll.TeacherName}}</td>
    <td>{{ teacherEnroll.CourseName }}</td>
    <td style="width: 100px">
      <button type="button"
              class="btn btn-warning btn-sm js-update-teacherEnroll"
              data-url="{% url 'teacherEnroll_update' teacherEnroll.id %}">
        <span class="glyphicon glyphicon-pencil"></span> Edit
      </button>
    </td>
    <td style="width: 100px">
      <button type="button"
              class="btn btn-danger btn-sm js-delete-teacherEnroll"
              data-url="{% url 'teacherEnroll_delete' teacherEnroll.id %}">
        <span class="glyphicon glyphicon-trash"></span> Delete
      </button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center bg-warning">No teacher Enroll</td>
  </tr>
{% endfor %}