{% for govtemployee in govtemployees %}
    {% if govtemployee.is_governmentEmployee %}
        <tr>
          <td>{{ govtemployee.id }}</td>
          <td>{{ govtemployee.username}}</td>
          <td>{{ govtemployee.first_name }}</td>
          <td>{{ govtemployee.last_name }}</td>
          <td>{{ govtemployee.email }}</td>

          <td style="width: 100px">
            <button type="button"
                    class="btn btn-danger btn-sm js-delete-govtemployee"
                    data-url="{% url 'govtemployee_delete' govtemployee.id %}">
              <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
          </td>
        </tr>
    {% endif%}
        {% empty %}
          <tr>
            <td colspan="8" class="text-center bg-warning">No Govt Employee</td>
          </tr>
{% endfor %}