{% extends 'GovernmentEmployee/GovernmentEmployeeNavbar.html' %}

{% load static %}

{% block javascript %}
  <script src="{% static 'GovernmentEmployee/CourseContent/content.js' %}"></script>
{% endblock %}

{% block content %}
<br>

<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Button Example <small>Users</small></h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <form method="get" style="float:right;">
                            {{ MyFileter.form }}
                            <button class="btn btn-primary" type="submit">Search</button>
                </form>
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <table class="table" id="datatable-buttons"  style="width:100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>CourseName</th>
                                    <th>Course Material</th>
                                    <th>Course Material Status</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                    {% include 'GovernmentEmployee/CourseMaterialApproved/partial_content_list.html' %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-topic">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
</div>


{% endblock %}