{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<br>
<br>

<div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-12">
                  <br>
                  <div class="col-8">
                      {% for lecture in lecture %}
                      <div class="card">
                          <div class="card-body">
                              <a href="{{ lecture.Video }}" target="_blank"> Video Link : {{ lecture.Video }}</a>
                          </div>
                      </div>
                      <br>
                      <br>
                      <div class="card">
                          <div class="card-body">
                              <a href="{{ lecture.Pdf.url }}" target="_blank">PDF Link : {{ lecture.Pdf }}</a>
                          </div>
                      </div>
                      <br><br>
                      <div class="card">
                          <div class="card-body">
                              <p>{{ lecture.Text }}</p>
                          </div>
                      </div>
                      <br>
                      {% endfor %}
                  </div>

              </div>
          </div>
        </div>
      </div>
</div>
<!--{% for material in course %}-->
<!--				  <li  data-toggle="collapse" data-target="#products" class="collapsed active">-->
<!--				      <a href="#"><span class="arrow"></span><span class="fa fa-paper-plane mr-3"></span>{{ material.MaterialName }}</a>-->
<!--				  </li>-->
<!--                    {% for lecture in lecture %}-->
<!--                    <ul class="sub-menu collapse" id="products">-->
<!--                        <li>-->
<!--                            <div class="card">-->
<!--                                <div class="card-body">-->
<!--                                    <a href="{{ lecture.Video }}" target="_blank"> Video Link : {{ lecture.Video }}</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <br>-->
<!--                            <br>-->
<!--                            <div class="card">-->
<!--                                <div class="card-body">-->
<!--                                    <a href="{{ lecture.Pdf.url }}" target="_blank">PDF Link : {{ lecture.Pdf }}</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <br><br>-->
<!--                            <div class="card">-->
<!--                                <div class="card-body">-->
<!--                                    <p>{{ lecture.Text }}</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <br>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                    {% endfor %}-->
<!--{% endfor %}-->

{% endblock content%}