{% for lecture in lectures %}
  {% if lecture.username == user %}
  <tr>
    <td>{{ lecture.id }}</td>
    <td>{{ lecture.MaterialName}}</td>
    <td>{{ lecture.Video }}</td>
    <td>{{ lecture.Pdf }}</td>
    <td>{{ lecture.Text }}</td>
    <td >
      <a href="{% url 'lecture_update' lecture.id %}" type="button" style="width: 100px"  class="btn btn-success btn-sm">
                <span class="glyphicon glyphicon-pencil"></span>
      </a>
      <button type="button" style="width: 100px"
              class="btn btn-danger btn-sm js-delete-lecture"
              data-url="{% url 'lecture_delete' lecture.id %}">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </td>
  </tr>
{% endif %}
{% empty %}
  <tr>
    <td colspan="8" class="text-center bg-warning">No Lecture Upload</td>
  </tr>
{% endfor %}