{% for student in students %}
  {% if student.is_student  %}
      <tr>
          <td>{{ student.id }}</td>
          <td>{{ student.username}}</td>
          <td>{{ student.first_name }}</td>
          <td>{{ student.last_name }}</td>
          <td>{{ student.email }}</td>
          <td style="width: 100px">
            <button type="button"
                    class="btn btn-success btn-sm js-view-student"
                    data-url="{% url 'student_view' student.id %}">
              <span class='glyphicon glyphicon-eye-open'></span>
            </button>
              {% if student.owner == user %}
                <button type="button"
                        class="btn btn-danger btn-sm js-delete-student"
                        data-url="{% url 'student_delete' student.id %}">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              {% endif %}
          </td>
      </tr>
  {% endif%}

        {% empty %}
          <tr>
            <td colspan="8" class="text-center bg-warning">No student</td>
          </tr>
{% endfor %}