{% for studentEnroll in studentEnrolls %}

  <tr>
      <td>{{ studentEnroll.pk }}</td>
      <td>{{ studentEnroll.user }}</td>
      <td>
        {% for course in studentEnroll.interests.all %}
          {{ course.CourseName }} <br>
        {% endfor%}
      </td>
      <td>{{ studentEnroll.is_enroll }}</td>
      <td style="width: 100px">
              <button type="button"
                  class="btn btn-success btn-sm js-update-studentEnroll"
                  data-url="{% url 'Student_Enroll_Update' studentEnroll.pk %}">
                    <span class="glyphicon glyphicon-pencil"></span>
              </button>

              <button type="button"
                      class="btn btn-danger btn-sm js-delete-studentEnroll"
                      data-url="{% url 'Student_Enroll_delete' studentEnroll.pk %}">
                <span class="glyphicon glyphicon-trash"></span>
              </button>

      </td>
  </tr>

{% empty %}
  <tr>
    <td colspan="8" class="text-center bg-warning">No Student Enroll</td>
  </tr>
{% endfor %}