{% for employee in teachers %}
  {% if employee.is_trainer %}
      <tr>
          <td>{{ employee.id }}</td>
          <td>{{ employee.username}}</td>
          <td>{{ employee.first_name }}</td>
          <td>{{ employee.last_name }}</td>
          <td>{{ employee.email }}</td>
          <td>
              {{ employee.owner}}
<!--              {% for group in employee.MinistryName.all %}-->
<!--                     {{ group.MinistryName }}<br>-->
<!--               {% endfor%}-->
          </td>
          <td style="width: 150px">
              <a href="{% url 'super_admin_teacher_update' employee.id %}" type="button" class="btn btn-success btn-sm">
                <span class="glyphicon glyphicon-pencil"></span>
              </a>
            <button type="button"
                    class="btn btn-primary btn-sm js-view-employee"
                    data-url="{% url 'super_admin_teacher_view' employee.id %}">
              <span class='glyphicon glyphicon-eye-open'></span>
            </button>
          </td>
      </tr>
  {% endif%}
        {% empty %}
          <tr>
            <td colspan="8" class="text-center bg-warning">No employee</td>
          </tr>
{% endfor %}